.navbar .navbar-nav .nav-link {
  color: white;
  font-size: 1.1em;
}

.sm-icons {
  flex-direction: row;
}
@media only screen and (max-width: 960px) {
  .sm-icons .nav-item {
    padding-right: 1em;
  }
}

.bi-arrows-fullscreen {
  color: white;
}

.navbar-toggler {
  border: none;
}

footer ul li a {
  color: black;
  font-size: 1.3em;
}

.hov:hover {
  transform: scale(1.1);
  transition: ease-in-out;
}
.skill svg {
  height: 1em;
}

.fa-html5 {
  color: #e44d26;
}
.html {
  background: rgba(228, 77, 38, 0.3);
  box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 60px 60px;
}

.fa-css3-alt {
  color: #2965f1;
}
.css {
  background: rgba(41, 101, 241, 0.3);
  box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 60px 60px;
}

.fa-js {
  color: #f0db4f;
}
.js {
  background: rgba(240, 219, 79, 0.3);
  box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 60px 60px;
}

.fa-react {
  color: #61dbfb;
}
.react {
  background: rgba(97, 219, 251, 0.3);
  box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 60px 60px;
}

.bi-bootstrap {
  color: #7952b3;
}
.bootstrap {
  background: rgba(121, 82, 179, 0.3);
  box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 60px 60px;
}
.git {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 60px 60px;
}

.fa-database {
  color: #a9a9a9;
}
.data {
  background: rgba(169, 169, 169, 0.3);
  box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 60px 60px;
}

.skill .fa-wordpress-simple {
  color: #00749c;
}
.wordpress {
  background: rgba(0, 116, 156, 0.3);
  box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 60px 60px;
}

.skill div {
  background-color: transparent;
}
