@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

* {
    list-style: none;
    text-decoration: none;
}
 
.icon-bar{
    position: fixed;
    width: 40px;
    margin-top: 250px;
    transition: 0.3s ease-out;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, .4)
}
.icon-bar li a{
    color: rgb(245, 231, 231) !important;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 45px;
    padding-left: 25%;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    transition:.2s linear ;
    text-decoration: none !important
}

.icon-bar li:nth-child(1) a {
    background: #2867B2;
    opacity: 0.8;
}

.icon-bar li:nth-child(2) a {
    background: #333;
    opacity: 0.8;
}

.icon-bar li:nth-child(3) a {
    background: #EA4335;
    opacity: 0.8;
}

.icon-bar li:nth-child(n) a:hover{
    opacity: 1.0;
}

.icon-bar li a i{
    font-size: 16px
}
.icon-bar li a span{
    display: none;
    font-weight:600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.icon-bar a:hover {
    z-index: 1;
    width: 150px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3)
}

.icon-bar li:hover a span{
    padding-left: 30%;
    display: inline-block;
    font-size: 15px;
}

@media (max-width:800px){
    .icon-bar{
        display: none;
    }
}

html{
    scroll-behavior: smooth;
}


.intro{
    padding: 5em 2em;
    position: relative;
    margin:0;
    line-height: 1.6;
}

.intro__img{
    display: block;
    max-width: 100%;
    box-shadow:0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

.section__title--intro{
    margin-bottom: .25em;
    font-weight: 300;
}

.section__title--intro strong{
    display: block;
}

.section__subtitle {
	margin-left: 0;
	font-size: 1.5rem;
}

.section__subtitle--intro,
.section__subtitle--about {
	background: #556B2F;
	padding: .25em 1em;
	font-family:'Source Code Pro',monospace;
	margin-bottom: 1em;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto; 
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
    	grid-area: img;
    	min-width: 250px; 
    	position: relative;
    	z-index: 1;
    }

    .section__subtitle--intro {
    	align-self: start;
    	grid-column: -1/2;
    	grid-row: 2;
    	text-align: right;
    	position: relative;
    	left: -1.5em;
    	width: calc(100% + 3.5em);
    }
}






